/* Styles for weather container */
.weather-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Styles for header */
.weather-container .weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.weather-container .weather-header h2 {
  margin: 0;
  color: #333;
}

.weather-container .logout-button {
  padding: 10px;
  background-color: #ff4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.weather-container .logout-button:hover {
  background-color: #ff2c2c;
}

/* Styles for form */
.weather-container .weather-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.weather-container .weather-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
}

.weather-container .get-weather-button,
.weather-container .save-location-button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.weather-container .get-weather-button:hover,
.weather-container .save-location-button:hover {
  background-color: #45a049;
}

.weather-container .get-weather-button {
  margin-left: 5px;
  margin-bottom: 0.5px;
}

.weather-container .save-location-button {
  background-color: #2196f3; 
  margin-left: 5px;
  margin-bottom: 10px;
}

.weather-container .save-location-button:hover {
  background-color: #1976d2;
}

/* Styles for loading and error messages */
.weather-container .loading-message,
.weather-container .error-message {
  color: #ff0000;
  font-weight: bold;
}

/* Styles for weather and forecast data */
.weather-container .weather-data,
.weather-container .forecast-data,
.weather-container .saved-locations {
  margin-top: 20px;
}

.weather-container .current-forecast {
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

/* Styles for daily forecast */
.weather-container .daily-forecast {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
  padding: 10px 0;
}

.weather-container .daily-forecast-item {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 120px;
  min-width: 120px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #f4f4f9;
  flex: 0 0 auto;
  cursor: pointer;
  transition: background-color 0.3s;
  background-size: cover;
  background-position: center;
}

.weather-container .daily-forecast-item:hover {
  background-color: #e0e0e0;
}

/* Styles for hourly forecast */
.weather-container .hourly-forecast {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
  padding: 10px 0;
}

.weather-container .hourly-forecast-item {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 120px;
  min-width: 120px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #f4f4f9;
  flex: 0 0 auto;
  transition: background-color 0.3s;
  cursor: pointer;
}

.weather-container .hourly-forecast-item:hover {
  background-color: #e0e0e0;
}

/* Styles for hourly forecast details */
.weather-container .hourly-forecast-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f4f4f9;
  text-align: left;
}

/* Styles for saved locations */
.weather-container .saved-locations {
  margin-top: 20px;
  position: relative;
}

.weather-container .toggle-saved-locations-button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.weather-container .toggle-saved-locations-button:hover {
  background-color: #45a049;
}

.weather-container .saved-locations-list h3 {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left; /* Align the title to the left */
}

.weather-container .saved-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ffffff;
  transition: background-color 0.3s;
}

.weather-container .saved-location:hover {
  background-color: #f0f0f0;
}

.weather-container .saved-location-city {
  font-weight: bold;
  font-size: 16px;
}

.weather-container .saved-location-buttons {
  display: flex;
}

.weather-container .get-weather-button,
.weather-container .delete-location-button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 5px;
  margin-top: 10px;
}

.weather-container .get-weather-button:hover,
.weather-container .delete-location-button:hover {
  background-color: #45a049;
}

.weather-container .delete-location-button {
  background-color: #ff4c4c;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .weather-container .daily-forecast-item,
  .weather-container .hourly-forecast-item {
    width: 100px;
    min-width: 100px;
  }

  .weather-container .saved-locations-list {
    max-height: 150px;
  }
}

@media (max-width: 480px) {
  .weather-container .weather-container {
    padding: 20px;
  }

  .weather-container .weather-header h2 {
    font-size: 24px;
  }

  .weather-container .daily-forecast-item,
  .weather-container .hourly-forecast-item {
    width: 80px;
    min-width: 80px;
  }
}

/* Backgrounds for weather conditions */
.weather-container .current-forecast.clear-sky,
.weather-container .daily-forecast-item.clear-sky,
.weather-container .hourly-forecast-item.clear-sky {
  background-image: url('/images/sunny-background.jpeg');
}

.weather-container .current-forecast.cloudy,
.weather-container .daily-forecast-item.cloudy,
.weather-container .hourly-forecast-item.cloudy {
  background-image: url('/images/cloud.jpeg');
  color: black;
}

.weather-container .current-forecast.rainy,
.weather-container .daily-forecast-item.rainy,
.weather-container .hourly-forecast-item.rainy {
  background-image: url('/images/rain.jpeg');
  color: white;
}

.weather-container .current-forecast.snowy,
.weather-container .daily-forecast-item.snowy,
.weather-container .hourly-forecast-item.snowy {
  background-image: url('/images/snowy-background.jpeg');
}

.weather-container .current-forecast.thunderstorm,
.weather-container .daily-forecast-item.thunderstorm,
.weather-container .hourly-forecast-item.thunderstorm {
  background-image: url('/images/thunder.webp');
  color: beige;
}

/* Styles for close button */
.weather-container .close-button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  float: right;
}

.weather-container .close-button:hover {
  background-color: #ff2c2c;
}

  